/* ------------------ */
/* || General Styling */
/* -------------------*/


*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


button,
summary {
	cursor: pointer;
}

@font-face {
	font-family: 'Archivo';
	src: url(/fonts/Archivo-var.ttf) format('truetype');
	font-style: normal;
	font-weight: 100 900;
}


:root {
	/* Normal text   */
	--color-text: #000000;

	/* Default background color   */
	--color-background: #fff;

	/*  Used for current Page active link color (in menu bar, both collapsed and open)  */
	--color-active: hsl(260, 38%, 22%);

	/*  Default COLORED background color   */
	--color-accent:
		hsl(260, 38%, 42%);
	/*  Background-color for on-hover/focus cards */
	--color-accent-dark-hover:
		hsl(260, 38%, 1%);


	/*  Coloring for footer and menu a:hover  */
	--color-accent-light:
		hsl(263, 28%, 85%);

	/*  Unused  */
	--color-grey: #e5e7eb;

	/* Only used for header banner h2   */
	--color-reverse-text: #fff;

	/*  Unused, was used to color the active page in menu. Replaced by --color-active + filter.  */
	--highlight-active: hsl(260, 38%, 1%);

	/* wip color */
	--wip: hsla(74, 100%, 50%, 1);

	--font-base: 400;
	--font-header: 900;

	--default-font-var:
		"wgth" 400;

}

body {
	font-size: 1.125rem;
	position: relative;

	min-width: 360px;
}


h1,
h2,
h3,
h4,
h5,
a {
	font-family: 'Archivo', sans-serif;
	font-weight: 700;
}

h3 {
	font-size: 3rem;
	color: var(--color-reverse-text);
}


p {
	font-family: Archivo, sans-serif;
	font-size: 1.8em;
	font-weight: var(--font-base);
}


hr {
	height: 1px;
	color: var(--color-text);
	border-top: 3px black solid;
}




/* Link effects */

:visited {}

:hover {}

:focus {}

:active {}










/* ------------ */
/* || Utilities */
/* -------------*/

ul {
	list-style: none;
}

a {
	/* forcing black unless otherwise stated */
	color: var(--color-text);
	text-decoration: none;
}

.visually-hidden {
	/* https: //www.a11yproject.com/posts/how-to-hide-content/ */
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

img {
	display: block;
}









/* ----------- */
/* || Sitewide */
/* ------------*/

header nav,
footer nav,
h2:first-of-type {
	text-transform: uppercase;
}

h2:first-of-type {
	font-size: 6rem;
	font-weight: 900;
	color: var(--color-reverse-text);
}









/* ------------- */
/* || Navigation */
/* ------------- */

.menuContent {
	/* make visible */
	opacity: 1;
	z-index: 1000;
}

.pointerEventsEnabled {
	pointer-events: all;
}

.noScroll {
	/* Prevent scrolling while the menu is open   */
	overflow-y: hidden;
}





/* || Header */

header {
	/* positioning */
	position: sticky;
	top: 0;
	z-index: 2;
}


header>ul {
	display: flex;
	justify-content: center;

	height: 3.5rem;
	background-color: var(--color-background);
}

header>ul>li {
	display: flex;
	justify-content: space-between;
	align-items: center;

	/* positioning */
	position: sticky;
	top: 0;
	z-index: 1;

	/* desktop padding */
	padding-left: 3rem;
	padding-right: 3rem;

	/* max width for menu content */
	max-width: 1536px;
	/* Make the menu actually use the max-width*/
	width: 100%;

}

header nav ul {
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	/* background-color: #fff; */
}

header ul li>a,
header ul li>a:first-of-type img {
	height: 100%;
}

header a:first-of-type img {
	/* *shrugs* */
	transform: scale(2);
}

header nav a {
	/* || Positioning */
	margin-left: 2.5rem;
}

/* Hide first and last item in list by default if not in mobile view */
header nav ul li:first-child a,
header nav ul li:last-child a {
	display: none;
}





/* || Button */

span:first-of-type,
span:last-of-type {
	top: 0px;
}

button {
	background: none;
	outline: none;
	border: 0px none;
	z-index: 1001;
}

button span {
	width: 1.5rem;
	height: 0.2rem;

	margin-bottom: 0.3rem;

	/* for menu btn styling */
	position: relative;
	display: block;

	/* button styling */
	background-color: var(--color-text);
	border-radius: 16px;

	transition: all 0.2s ease 0s;
	animation-direction: alternate;
}

header button {
	/* Default behaviour. On larger screens, hide menu icon*/
	display: none;
}





/* || Button active styling */

.menuBtnOpenState span {
	background-color: var(--color-background);
}

.menuBtnOpenState span:nth-of-type(1) {
	top: 7px;
	transform: rotate(-45deg);
}

.menuBtnOpenState span:nth-of-type(2) {
	opacity: 0;
	visibility: hidden;
}

.menuBtnOpenState span:nth-of-type(3) {
	top: -7px;
	transform: rotate(45deg);
}





/* || Main Menu Navigation Item States */

header nav ul li:first-child a.menuContent,
header nav ul li:last-child a.menuContent {
	/* make the first and last item visible when .menuContent is applied*/
	display: inline-block;
}

span.menuContent {
	/* Set color to white as .menuContent applies */
	background-color: var(--color-reverse-text);
}









/* ------------ */
/* || Main Page */
/* -------------*/


header>div,
main> :not(section:first-of-type),
footer {

	/* ... */

	/* || Positioning */
	padding-left: 6rem;
	padding-right: 6rem;
}


/* || Video Reel */

main section:first-of-type {
	/* || Positioning */
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	/* container */
	width: 100%;

	/* Page specific, change for other pages. Header is 3.5rem tall. */
	height: calc(100vh - 3.5rem);
}

main section:first-of-type svg {
	/* so why is this not a flex item? */
	position: absolute;
	height: 2em;
	align-self: center;
	bottom: 2em;

	fill: var(--color-background);
}

main section:nth-of-type(1) svg:hover {
	/* down arrow in hero */
	fill: var(--color-accent);
	transition-duration: 0.5s;
}

main section:first-of-type video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

main section:first-of-type h2 {
	position: absolute;
	font-variation-settings: "wght" 900;

	margin-left: 2rem;
	margin-right: 2rem;

	/* Center */
	left: 0;
	right: 0;
}









/* ----------- */
/* || Projects */
/* ----------- */

main section:nth-of-type(2) {
	padding-top: 10rem;
}

main section:nth-of-type(2) {
	display: grid;
	grid-template-columns: 1fr auto 1fr;

	/* or  */

	display: flex;
	justify-content: center;
}


/* ul */

main section:nth-of-type(2) ul {
	/* Projects */
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 0.8rem;

	padding-top: 5rem;
	padding-bottom: 5rem;
}

/* Make a 5+7 grid */
section:nth-of-type(2) ul li:nth-child(1),
section:nth-of-type(2) ul li:nth-child(4),
section:nth-of-type(2) ul li:nth-child(5),
section:nth-of-type(2) ul li:last-child {
	grid-column: span 5;
	grid-row: span 1;
}

section:nth-of-type(2) ul li:nth-child(2),
section:nth-of-type(2) ul li:nth-child(3),
section:nth-of-type(2) ul li:nth-child(6),
section:nth-of-type(2) ul li:nth-child(7) {
	grid-column: span 7;
	grid-row: span 1;
}

main section:nth-of-type(2) ul {
	grid-column-start: 2;
	grid-column-end: 3;

	/* set max widths! */
	max-width: 1536px;
}


/* li */

main section:nth-of-type(2) li h3,
main section:nth-of-type(2)>li a svg {
	opacity: 0;
	fill: none;
}

main section:nth-of-type(2)>li {
	gap: 1rem;
}


/* li a  */

main section:nth-of-type(2) li a h3 {
	position: absolute;
	padding: 2rem;
}

/* is first:child necessary? */
main section:nth-of-type(2) li a:first-child {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	/* set height for the articles so they all have the same height :) */
	/* height: 500px; */
	height: 31.25rem;
}

main section:nth-of-type(2) li a {
	position: relative;
	/* stop scaling overflow   */
	overflow: hidden;
}

main section:nth-of-type(2) li a img {
	/* Set w+h to 100*/
	width: 100%;
	height: 100%;

	/* then shrink/stretch to fit */
	object-fit: cover;
}

main section:nth-of-type(2) li a:last-of-type svg {
	/* chevron-right */
	height: 1em;
	position: absolute;

	fill: none;

	right: 2rem;
	bottom: 2rem;
}

main section:nth-of-type(2) li:last-child a svg {
	fill: var(--color-text);
}



/* last list item */

main section:nth-of-type(2) li:last-child h3 {
	text-transform: uppercase;
	color: var(--color-text);
	opacity: 1;
}

main section:nth-of-type(2) li:last-child a:first-child:last-of-type {
	background-color: var(--color-accent-light);
}





/* || Project - Effects */

main li:hover a:first-child img {
	/* scale image within container */
	opacity: 30%;
	transition-duration: 0.7s;
	transform: scale(110%);
	position: absolute;
}

main section:nth-of-type(2) li:hover a:last-of-type svg {
	/* make chevron visible */
	fill: var(--color-accent-light);
	opacity: 100%;
	z-index: 1;
}

main section:nth-of-type(2) li:hover h3 {
	/* make h3 visible */
	opacity: 100%;
	z-index: 1;
}

main section:nth-of-type(2) li a:first-child:last-of-type:hover {
	/* set default background color on hover */
	background-color: var(--color-accent-dark-hover);
	color: var(--color-accent);
	transition-duration: 0.5s;
}

main section:nth-of-type(2) li:last-child a:first-child:last-of-type:hover {
	/* set default background color on hover */
	background-color: var(--color-accent);

}

main section:nth-of-type(2) li:last-child a:first-child:last-of-type:hover h3 {
	color: var(--color-reverse-text);
}










/* ---------- */
/* || Contact */
/* ---------- */


section:nth-of-type(3) a {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 10rem 0;
	padding-bottom: 1em;
	padding-top: 1em;
}


section:nth-of-type(3) a p {
	font-size: 6em;
	font-variation-settings: "wght" 900;
	font-weight: var(--font-header);
	text-transform: uppercase;
}


section:nth-of-type(3) span {
	color: var(--color-accent);
}










/* --------- */
/* || Footer */
/* --------- */

footer {
	background-color: var(--color-accent-light);
	padding-top: 2em;
	padding-bottom: 2em;
}

/* || Contact info */

footer address {
	/* first contact section*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer address ul {
	/* ul parts of contact section */
	display: flex;
	flex-direction: column;

}

footer address ul li {
	/* contact spacing */
	padding: 0.5em 0;
}

footer address ul:last-child {
	/* second list of contact*/
	text-align: end;
}

footer address ul li *,
footer>section:last-of-type p {
	/* Contact Info */
	/* set back to default styling */
	font-size: 1em;
	font-style: normal;
}

footer address ul li * {
	/* all list items in contact info */
	font-variation-settings: "wght" 100;
	font-weight: 100;
}





/* || Footer main nav */

footer nav {
	margin-top: 2rem;
}

footer nav ul {
	/* general footer nav */
	display: flex;
	flex-direction: row;
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: flex-start;


}





/* || Footer social nav */

footer section,
footer nav:last-child ul {
	padding: 0.6em 0;
}



/* || Footer hr */

footer hr {
	margin-top: 3rem;
	margin-bottom: 3rem;
}



/* Under the cut */

footer section div {
	display: flex;
	justify-content: space-between;
}

footer section div p {
	max-width: 40vw;
	margin-right: 2rem;
}

footer nav:last-child ul {
	/* second footer nav */
	flex-direction: row-reverse;

}


footer>section>section:last-of-type>p {
	/* Copyright */
	font-variation-settings: var(--default-font-var);
	align-self: flex-end;
}









/* Media Queries */
/* Ordering is in uh, order ^^'  */

@media screen and (max-width: 1024px) {

	/* || root */

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.5em;
	}

	h2:first-of-type {
		font-size: 3rem;
	}





	/* || site-wide */

	main> :not(section:first-of-type),
	footer {
		/* reduce padding to 1.8rem */
		padding-left: 1.8rem;
		padding-right: 1.8rem;
	}

	main section:nth-of-type(2) ul {
		/* replace display: grid */
		display: block;
	}

	section:nth-of-type(3) a p {
		/* Say Hi! */
		font-size: 2rem;
	}


	/* || Header / nav */

	header button {
		/* show button on small screens*/
		display: block;
	}

	header nav {
		/* hide normal nav on small screens */
		display: none;
		/* show two extra menu items on small screen */
		opacity: 0;

		position: fixed;

		display: flex;
		/* Vertical */
		align-items: center;
		/* Horizontal */
		justify-content: center;
		background-color: var(--color-accent);

		/* fill entire screen */
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;

		/* z-index */
		z-index: 100;

		/* animation */
		transition-duration: 0.5s;

		/* new */
		pointer-events: none;
	}

	header nav ul {
		flex-direction: column;

		gap: 2.3rem;
		font-variation-settings: "wght" 900;
		font-size: 1.875rem;
		line-height: 1.25rem;

		padding-top: 3rem;
	}

	header nav a {
		margin-left: 0;
	}

	header nav ul a {
		color: var(--color-reverse-text);
	}

	.activePage {
		color: var(--color-accent);
		filter: contrast(200%) brightness(50%);
	}

	nav a {
		transition-duration: 0.5s;

	}

	header nav a:active,
	header nav a:focus {
		/* temp */
		text-decoration: underline;
	}

	header nav a:not(.activePage):hover,
	header nav a:not(.activePage):active {
		color: var(--color-accent-light);
	}





	/* Projects */

	section:nth-of-type(2) ul li {
		/* Added margin as gap doesn't work now */
		margin: 0.7rem 0;
	}
}


@media screen and (max-width: 425px) {
	/* large mobile and smaller */

	/* Footer */

	footer address {
		display: flex;
		flex-direction: column;
	}

	footer address ul {
		align-items: flex-start;
	}
}