/* PLEASE NO OVERLY COMPLICATED SELECTORS, WORK OUT TO IN */


/* ------------------ */
/* || General Styling */
/* -------------------*/


*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


button,
summary {
	cursor: pointer;
}

@font-face {
	font-family: 'Archivo';
	src: url(/fonts/Archivo-var.ttf) format('truetype');
	font-style: normal;
	font-weight: 100 900;
}


:root {
	--color-text: #000000;
	--color-background: #e5e7eb;
	/* --color-accent: #f2941a; */
	--color-accent-dark: hsl(260, 38%, 42%);
	--color-accent-light: hsl(260, 38%, 90%);
	--color-grey: #e5e7eb;
	--color-reverse-text: #fff;

	/* wip color */
	--color-wip: hsla(74, 100%, 50%, 1);

	--font-base: 400;
	--font-header: 900;

	--default-font-var: "wgth" 400;

	/* Easier size to work with */
	font-size: 10px;
}

body {
	font-size: 1.8em;
	position: relative;
}


h1,
h2,
h3,
h4,
h5,
a {
	font-family: 'Archivo', sans-serif;
	font-weight: 700;
}

h2:first-of-type {
	font-size: 3em;
	font-weight: 900;
	color: var(--color-reverse-text);
}

h3 {
	font-size: 2em;
	color: var(--color-reverse-text);
}


/* ul {} */


p {
	font-family: Archivo, sans-serif;
	font-size: 1.8em;
	font-weight: var(--font-base);
}


hr {
	height: 1px;
	color: var(--color-text);
	border-top: 3px black solid;
}



/* ------------ */
/* || Utilities */
/* -------------*/

/* .anythingThatAppliesToALot {} */

header nav,
footer nav,
h2:first-of-type {
	text-transform: uppercase;
}

ul {
	list-style: none;
}

a {
	/* forcing black unless otherwise stated */
	color: var(--color-text);
	text-decoration: none;
}

.visually-hidden {
	/* https: //www.a11yproject.com/posts/how-to-hide-content/ */
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}




/* ----------- */
/* || Sitewide */
/* ------------*/

header {
	/* display */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	/* box-model */
	height: 6rem;
	padding: 1.8em 1.8em;
}

header nav ul {
	display: flex;
	z-index: -1;

}

nav ul a {
	/* || Positioning */
	margin-right: 1em;
}






/* ------------- */
/* || Navigation */
/* ------------- */

header button {
	/* on larger screens, hide menu icon*/
	display: none;
}

button {
	border: none;
	z-index: 20;

}

.menuContent {
	/* make visible */
	opacity: 1;
}

.noScroll {
	overflow-y: hidden;
}






/* ------------ */
/* || Main Page */
/* -------------*/

main> :not(section:first-of-type),
footer {

	/* ... */

	/* || Positioning */
	padding-left: 6rem;
	padding-right: 6rem;
}


/* || Slideshow */

@keyframes showcaseImages {
	0% {
		background-image: url("/img-temp/HS-Joshs-Story-01-1.webp");
		/* background-color: rebeccapurple; */
	}

	25% {
		background-image: url("/img-temp/HS-Joshs-Story-08.webp");
		/* background-color: palegoldenrod; */
	}

	50% {
		background-image: url("/img-temp/HS-Joshs-Story-11.webp");
		/* background-color: teal; */
	}

	75% {
		background-image: url("/img-temp/HS-Joshs-Story-22.webp");
		/* background-color: honeydew; */
	}

	100% {
		background-image: url("/img-temp/HS-Joshs-Story-01-1.webp");
		/* background-color: orange; */
	}

	/* 1/8/11/22 */
}

main section:first-of-type {
	/* || Positioning */
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	width: 100%;

	/* background-image: url("/img-temp/HS-Joshs-Story-04.webp"); */

	animation-name: showcaseImages;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	/* animation-timing-function: steps(4); */

	/* background-image testing */

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

main section:first-of-type h2 {
	position: absolute;
	font-variation-settings: "wght" 900;

	left: 1em;
	right: 1em;
}










/* ----------- */
/* || Projects */
/* ----------- */


main section:nth-of-type(2) ul {
	/* Projects */
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 1.5rem;

	padding-top: 5rem;
	padding-bottom: 5rem;
}

main section:nth-of-type(2) article a h3 {
	position: absolute;

	/*  How do I move it from the corner properly?  */
	/* transform: translate(0.5em, 0.5em); */

	/* ¯\_(ツ)_/¯ */
	padding: 2rem;

}

article {
	/* Uhm? Why? Werkte eerst zonder. */
	width: 100%;
	height: 100%;
}

article a {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;

	background-color: var(--color-accent-dark);
}


article a img {
	/* Set w+h to 100*/
	width: 100%;
	height: 100%;

	/* then shrink/stretch to fit */
	object-fit: cover;
}

section:nth-of-type(2) ul li:nth-child(1),
section:nth-of-type(2) ul li:nth-child(4),
section:nth-of-type(2) ul li:nth-child(5),
section:nth-of-type(2) ul li:last-child {
	grid-column: span 5;
	grid-row: span 1;
}

section:nth-of-type(2) ul li:nth-child(2),
section:nth-of-type(2) ul li:nth-child(3),
section:nth-of-type(2) ul li:nth-child(6),
section:nth-of-type(2) ul li:nth-child(7) {
	grid-column: span 7;
	grid-row: span 1;
}





/* ---------- */
/* || Contact */
/* ---------- */


section:nth-of-type(3) a {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 10rem 0;
	padding-bottom: 1em;
	padding-top: 1em;
}


section:nth-of-type(3) a p {
	font-size: 3em;
	font-variation-settings: "wght" 900;
	font-weight: var(--font-header);
}


section:nth-of-type(3) span {
	color: var(--color-accent-dark);
}





/* --------- */
/* || Footer */
/* --------- */


footer {
	background-color: var(--color-accent-light);
}

footer>section {
	/* JUST the section! */
	padding-top: 2em;
	padding-bottom: 2em;
}



/* || CONTACT */

footer>section:first-of-type {
	/* contact section*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer>section:first-of-type ul {
	/* ul parts of contact section */
	display: flex;
	flex-direction: column;
}

footer>section:first-of-type ul li {
	/* contact spacing */
	padding-top: 2rem;
}

footer>section:first-of-type ul:last-child {
	/* second list of contact*/
	text-align: end;
}

footer>section:first-of-type ul li *,
footer>section:last-of-type p {
	/* Contact Info */

	/* undo the default styling */
	font-size: 1em;
	font-family: Archivo, sans-serif;
	font-style: normal;
}

footer>section:first-of-type ul li * {
	/* all list items in contact info */
	font-variation-settings: "wght" 100;
	font-weight: 100;
}





/* || Footer main nav */

footer nav ul {
	/* general footer nav */
	display: flex;
	flex-direction: row;
	gap: 2rem;
	flex-wrap: wrap;
}




/* || Footer hr */

footer hr {
	margin-top: 3rem;
	margin-bottom: 3rem;
}




/* || Footer social nav */

footer section:last-of-type section {
	/* copyright and social nav*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 3em;
}

footer nav:last-of-type ul {
	/* second footer nav */
	flex-direction: row-reverse;

}


footer>section>section:last-of-type>p {
	/* Copyright */
	font-variation-settings: var(--default-font-var);
	align-self: flex-end;

}











/* Media Queries */
/* Ordering is in uh, order ^^'  */

@media screen and (max-width: 650px) {

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.5em;
	}

	main> :not(section:first-of-type),
	footer {
		/* BOI */

		/* || Positioning */
		padding-left: 1.8em;
		padding-right: 1.8em;
	}

	main section:nth-of-type(1) img,
	main section:nth-of-type(1) {
		height: 100vh;
		object-fit: cover;
	}

	/* temp */


	main section:nth-of-type(2) ul {
		/* replace display: grid */
		display: block;
	}

	main section:nth-of-type(2) article {
		padding-bottom: 1em;
	}

	main section:nth-of-type(2) article a img,
	main section:nth-of-type(2) article a svg {
		min-height: 20em;
	}

	section:nth-of-type(3) a p {
		font-size: 2em;
	}



	header nav {
		/* hide normal nav on small screens */
		display: none;
		opacity: 0;
	}

	header button {
		/* show button on small screens*/
		display: block;
	}


	/* || Nav */

	header button {
		z-index: 101;
	}

	header nav {
		position: fixed;

		display: flex;
		/* Vertical */
		align-items: center;
		/* Horizontal */
		justify-content: center;
		background-color: var(--color-accent-dark);


		/* fill entire screen */
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		/* z-index */
		z-index: 100;

		/* animation */
		transition-duration: 0.5s;
	}

	header>nav ul {
		/* why do I need the > ? */
		display: flex;
		flex-direction: column;

		align-items: center;

		gap: 1em;
		font-variation-settings: "wght" 900;
		font-size: 1.8em;
	}

	header nav ul a {
		color: var(--color-reverse-text);
	}



	/* Footer */

	footer section:nth-of-type(2) {
		/* background-color: lightblue;
		color: rebeccapurple;
		flex-wrap: wrap;
		min-height: 50em; */
	}
}