/* PLEASE NO OVERLY COMPLICATED SELECTORS, WORK OUT TO IN */


/* ------------------ */
/* || General Styling */
/* -------------------*/


*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


button,
summary {
	cursor: pointer;
}

@font-face {
	font-family: 'Archivo';
	src: url(/fonts/Archivo-var.ttf) format('truetype');
	font-style: normal;
	font-weight: 100 900;
}


:root {
	--color-text: #000000;
	--color-background: #e5e7eb;
	/* --color-accent: #f2941a; */
	--color-accent-dark: hsl(260, 38%, 42%);
	--color-accent-light: hsl(260, 38%, 90%);
	--color-grey: #e5e7eb;
	--color-reverse-text: #fff;

	--font-base: 400;
	--font-header: 900;

	--default-font-var: "wgth" 400;

	/* Easier size to work with */
	font-size: 10px;
}


body {
	font-size: 1.8em;
}


h1,
h2,
h3,
h4,
h5,
a {
	font-family: 'Archivo', sans-serif;
	font-weight: 700;
}

h1 {
	font-size: 3em;
	font-weight: 900;
	color: var(--color-reverse-text);
}

h2 {
	font-size: 2em;
	color: var(--color-reverse-text);
}


/* ul {} */


p {
	font-family: Archivo, sans-serif;
	font-size: 1.8em;
	font-weight: var(--font-base);
}


hr {
	height: 1px;
	color: var(--color-text);
	border-top: 3px black solid;
}



/* ------------ */
/* || Utilities */
/* -------------*/

/* .anythingThatAppliesToALot {} */

header nav,
footer nav,
h1 {
	text-transform: uppercase;
}

ul {
	list-style: none;
}

a {
	color: var(--color-text);
	/* forcing black always */
	text-decoration: none;
}





/* ----------- */
/* || Sitewide */
/* ------------*/

main {}



header {
	/* display */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	/* box-model */
	height: 6rem;
	padding: 1.8em 1.8em;
}


header>nav>a {

	/* || Positioning */
	padding-right: 1em;
}






/* ------------- */
/* || Navigation */
/* ------------- */

/* only mobile/tablet sizes */
nav {
	/* only show when screen gets above ? px */
	display: none;
}

button {
	border: none;
	z-index: 20;

}

.menuContent {
	/* nav is a block element */
	display: block;
}

.scrollLock {
	overflow: hidden;
}






/* ------------ */
/* || Main Page */
/* -------------*/

main> :not(section:first-child),
footer {

	/* ... */

	/* || Positioning */
	padding-left: 6rem;
	padding-right: 6rem;
}


main section:first-of-type {
	/* || Positioning */
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	width: 100%;

}

main section:first-of-type h1 {
	position: absolute;
	font-variation-settings: "wght" 900;

	padding-left: 1em;
	padding-right: 1em;
}






/* ----------- */
/* || Projects */
/* ----------- */


main section:nth-of-type(2) {
	/* Projects */
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 1.5rem;

	padding-top: 5rem;
	padding-bottom: 5rem;
}

main section:nth-of-type(2) article a {
	/* position: relative;
	width: 100%;
	height: 100%; */
}

main section:nth-of-type(2) article a {
	/* display: block; */
	/* height: 50%;
	width: 50%; */
	/* background-color: hotpink; */

	/* Whoops! Gotta fix the a area! */
}


main section:nth-of-type(2) article a h2 {
	position: absolute;
	/*  How do I move it from the corner properly?  */
	transform: translate(0.5em, 0.5em);

}

article img {
	/* Set w+h to 100*/
	width: 100%;
	height: 100%;

	/* then shrink/stretch to fit */
	object-fit: cover;
}

article:nth-child(1),
article:nth-child(4),
article:nth-child(5),
article:last-child {
	grid-column: span 5;
	grid-row: span 1;
}

article:nth-child(2),
article:nth-child(3),
article:nth-child(6),
article:nth-child(7) {
	grid-column: span 7;
	grid-row: span 1;
}

article:nth-last-child(1) {
	background-color: var(--color-accent-dark);
	text-transform: uppercase;
}





/* ---------- */
/* || Contact */
/* ---------- */


section:nth-of-type(3) a {
	display: flex;
	justify-content: center;
	align-items: center;


	padding-bottom: 5em;
	padding-top: 5em;
}


section:nth-of-type(3) a p {
	font-size: 3em;
	font-variation-settings: "wght" 900;
	font-weight: var(--font-header);
}


section:nth-of-type(3) span {
	color: var(--color-accent-dark);
}





/* --------- */
/* || Footer */
/* --------- */


footer {
	background-color: var(--color-accent-light);
	background-color: hsl(260, 28%, 90%);
}

footer>section {
	padding-top: 2em;
	padding-bottom: 2em;
}

footer hr {
	/* inset: 5rem; */
	margin-top: 3rem;
	margin-bottom: 3rem;
}


footer section nav {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	flex-wrap: wrap;
}

footer section section nav {
	flex-direction: row-reverse;

}

footer section:last-of-type section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 3em;
}

footer>section:first-of-type {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer>section:first-of-type ul {
	display: flex;
	flex-direction: column;

}

footer>section:first-of-type ul:last-child {
	display: flex;
	flex-direction: column;
}

footer>section:first-of-type ul:last-child li {
	display: flex;
	flex-direction: row;
	align-self: flex-end;
}


footer>section:first-of-type ul li {
	padding-top: 1rem;
}

footer>section:first-of-type ul li *,
footer>section:last-of-type p {
	/* Contact Info */

	/* undo the default styling */
	font-size: 1em;
	font-family: Archivo, sans-serif;
	font-style: normal;
}

footer>section:first-of-type ul li * {
	font-variation-settings: "wght" 100;
	font-weight: 100;
}


footer>section>section:last-of-type>p {
	/* Copyright */
	font-variation-settings: var(--default-font-var);
	align-self: flex-end;

}











/* Media Queries */

@media screen and (max-width: 650px) {

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.5em;
	}

	main> :not(section:first-child),
	footer {
		/* BOI */

		/* || Positioning */
		padding-left: 1.8em;
		padding-right: 1.8em;
	}

	main section:nth-of-type(1) img {
		height: 100vh;
		object-fit: cover;
	}

	main section:nth-of-type(2) {
		/* replace display: grid */
		display: block;
	}

	main section:nth-of-type(2) article {
		padding-bottom: 1em;
	}

	main section:nth-of-type(2) article a img,
	main section:nth-of-type(2) article a svg {
		min-height: 20em;
	}

	section:nth-of-type(3) a p {
		font-size: 2em;
	}

}